/* CSS for each main section */

a{
    text-decoration: none;
}

.navbar{
    background-color: transparent;
}

.section1{
    background-image: url("../images/bg_aircraftNose.jpg");
    height: 500px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.section2{
    background-color:white;
    height: 4000px;
    text-align: center;
}

.section3{
    background-image: url("../images/bg_workDesk.jpg");
    height: 500px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.section4{
    background-image: url("...");
    height: 1000px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.footer{
    background-color: navy;
    height: 60px;
}

.section2 .p1  {
    margin-top: 80px;
    margin-right: 60px;
    margin-left: 60px;
}

.section2 .p2  {
    margin-bottom: 50px;
    margin-right: 60px;
    margin-left: 60px;
}

.menu1{
    background-image: url("../images/bg_aircraftNose.jpg"); 
    height: 500px;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.menu2{
    background-image: url("../images/bg_aircraftNose.jpg"); 
    height: 500px;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.menu3{
    background-image: url("../images/bg_aircraftNose.jpg"); 
    height: 500px;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.menu4{
    background-image: url("../images/bg_aircraftNose.jpg"); 
    height: 500px;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.menu5{
    background-image: url("../images/bg_aircraftNose.jpg"); 
    height: 500px;
    background-repeat: no-repeat; 
    background-size: cover; 
}

/* css for each subsection or its attributes */

.section1 .main_title{
    color: white;
}

.section1 .main_title,.second_title{
    font-size: 4vw;
    margin-top: 80px;
    text-align: center;
}

.info{
    color: white;
    margin-top: 180px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-style: none;
}

.info .number{
    font-size: 40px;
}

.bottom_center_color_background .second_title{
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 25px;
}

.bottom_center_color_background .second_title_explanation{
    text-align: center;
    color: blue;
}

.bottom_center_color_background .second_title{
    color: blue;
}

.section1 .bottom_center_color_background{
    background-color: white;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 190px;
    height: 150px;
}

.subsection2 .image_center_text{
    background-image: url("../images/bg_aircraftNose.jpg");
    height: 300px;
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}

.subsection3,.subsection4 .color_center_background{
    background-color:grey;
    opacity: 30%;
    height: 350px;
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-top: 300px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}

.subsection5 .color_middle_background{
    background-color:grey;
    opacity: 30%;
    height: 350px;
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-top: 300px;
    margin-bottom: 100px;
}




