/* CSS for each main section */

a{
    text-decoration: none;
}

.navbar{
    background-color: transparent;
}

.section1{
    background-image: url("../images/bg_section1.jpg");
    height: 500px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.section2{
    background-color:white;
    height: 4000px;
    text-align: center;
}

.section3{
    background-image: url("../images/bg_section3.jpg");
    height: 700px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.section4{
    background-image: url("../images/bg_section4.jpg");
    height: 1200px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.footer{
    background-color: navy;
    height: 90px;
}

.section2 .p1  {
    margin-top: 3%;
    margin-right: 60px;
    margin-left: 60px;
}

.section2 .p2  {
    margin-bottom: 50px;
    margin-right: 60px;
    margin-left: 60px;
}

/* css for each subsection or its attributes */

/* section 1 */
.section1 .main_title{
    color: white;
}

.section1 .main_title,.second_title{
    font-size: 4vw;
    margin-top: 2%;
    text-align: center;
}

.info{
    color: white;
    margin-top: 180px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-style: none;
}

.info .number{
    font-size: 40px;
}

.bottom_center_color_background .second_title{
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2%;
}

.subsection1 .second_title_explanation{
    text-align: center;
    color: grey;
}

.bottom_center_color_background .second_title{
    color: blue;
}

.section1 .bottom_center_color_background{
    background-color: white;
    height: 10rem;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 12%;
}

/* section 2 */

.subsection1 .menu1,.menu2,.menu3,.menu4,.menu5{ 
    height: 500px;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.subsection1 .menu1{
    background-image: url("../images/bg_section2-1.jpg");
}

.subsection1 .menu2{
    background-image: url("../images/bg_section2-2.jpg"); 
}

.subsection1 .menu3{
    background-image: url("../images/bg_section2-3.jpg"); 
}

.subsection1 .menu4{
    background-image: url("../images/bg_section2-4.jpg"); 
}

.subsection1 .menu5{
    background-image: url("../images/bg_section2-5.jpg"); 
}

.subsection2 .aim-image {
    height: 10%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-image: url("../images/bg_section2_subsec2.jpg");
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 7%;
    margin-right: 7%;
}

.subsection2 .aim-image .aim-jp, .aim-en {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.subsection2 .aim-image .aim-jp{
    font-size: 3.5vw;
    padding-top: 5%;
}

.subsection2 .aim-image .aim-en{
    font-size: 1.5vw;
    padding-bottom: 10%;
}

.subsection3 .color_center_background{
    height: 250px;
    background-color: gray;
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 7%;
    margin-right: 7%;
}

/* section 3*/

.section3 .img-exp{
    background-color: white;
    height: 100px;
    color: black;
}

.section3 .img-exp > p{
    margin-left: 3%;
    padding-top: 5%;
}

.section4-content-l{
    margin-right: 40px;
}

.footer{
    color: white;
    font-size: 1.5vw;
}

.footer-text{
    padding-top: 3%;
    padding-bottom: 3%;
}

/* navbar icon menu */
.icon {
    width: 25px;
    height: 5px;
    background-color: blue;
    margin: 4px 0;
  }

  .menu-icon{
      margin-top: 2%;
      margin-left: 1%;
  }

.navbar .logo{
    color: white;
    font-size: 1.5vw;
}
